# Introduction to Python, Part 1

---
## 0. Fundamentals of Python - Problem Set

Let's work through some problems to help you understand basic Python data types and functions.  
We'll also cover some additional operands and built-in functions that you might find useful.

---
### Problem 1. 

Write a function `calculate_dilution()` that takes three parameters:
- `m1`: the concentration of the original solution.
- `v2`: the volume of the original solution.
- `m2`: the desired concentration of the final solution.

The function should return how much volume of the original solution is needed to yield the correct final concentration.

In [15]:
###############################################
### Write your function in the space below. ###
#### Then run the cell to check your work. ####



###############################################

mass1 = 10
volume2 = 3
mass2 = 0.5

calculate_dilution(mass1, volume2, mass2)

0.15

---
### Problem 2.

Write a function `F_to_C()` that takes an `int` or `float` representing temperature in Fahrenheit and converts it to Celsius.  
The function should return a `str` with the following format:

- `'{input_temperature} degrees Fahrenheit is equivalent to {output_temperature} degrees Celsius.'`
- `input_temperature` and `output_temperature` are both displayed with decimal signs.

In [16]:
###############################################
### Write your function in the space below. ###
#### Then run the cell to check your work. ####



###############################################

F_to_C(32)

'32.0 degrees Fahrenheit is equivalent to 0.0 degrees Celsius.'

---
### Problem 3.

Take a look at the function `factor()` below.  
Rewrite the function so that it fits in less than 6 lines (excluding the **`def`** statement) but has the same functionality.

In [17]:
###############################################
### Write your function in the space below. ###
#### Then run the cell to check your work. ####

def factor(a, b, c):
    step_one = -1 * b
    step_q = 4 * a * c
    step_two_a = step_one + (b ** 2 - step_q)
    step_two_b = step_one - (b ** 2 - step_q)
    step_p = 2 * a
    step_three_a = step_two_a / step_p
    step_three_b = step_two_b / step_p
    result = step_three_a, step_three_b
    return result

###############################################

a = 1
b = 7
c = 3

factor(a, b, c)

(15.0, -22.0)

---
## More Operands

In addition to the operands `+`, `-`, `*`, and `/`, there are others that you might find useful.  
For example, the **modulo** operand `%` divides two numbers and gives the remainder.

In [18]:
7 % 2

1

The floor division operator `//` divides two numbers and rounds down.

In [19]:
7 // 2

3

The exponential operator `**` takes the exponent of the first number by the second number.

In [20]:
9 ** 2

81

### Combining operands with assignment

Sometimes you want to modify a value "in place". For example, you might want to add or subtract from a value.  
You can chain a standard operand (`+`, `-`, `*`, `/`, `%`, `**`, `//`) with the `=` operand to modify "in place".

In [21]:
x = 5
print(x)

x = x + 1  # This statement is equivalent to...
print(x)

x += 1  # ... this statement
print(x)

5
6
7

---
## `len()`

The built-in function `len()` gives the length of an element, such as below.

In [22]:
len('pineapple')

9

`len()` does not work on `int` or `float` data types.

In [23]:
len(5)

TypeError: object of type 'int' has no len()

---
### Problem 4.

Write a function called `char_counter()` with one parameter that accepts `int`, `str`, and `float` and prints according to the following example:

`char_counter('bananas')`

```
HELLO. I AM CHAR_COUNTER. YOU HAVE GIVEN ME THE DATA "bananas".
...PROCESSING...
THERE ARE 7 CHARACTERS IN THE DATA "bananas".
HAVE A NICE DAY.
...
```

In [24]:
###############################################
### Write your function in the space below. ###
#### Then run the cell to check your work. ####



###############################################

char_counter('bananas')
char_counter(12381)
char_counter(3.14159)

HELLO. I AM CHAR_COUNTER. YOU HAVE GIVEN ME THE DATA "bananas".
...PROCESSING...
THERE ARE 7 CHARACTERS IN THE DATA "bananas".
HAVE A NICE DAY.
...
HELLO. I AM CHAR_COUNTER. YOU HAVE GIVEN ME THE DATA "12381".
...PROCESSING...
THERE ARE 5 CHARACTERS IN THE DATA "12381".
HAVE A NICE DAY.
...
HELLO. I AM CHAR_COUNTER. YOU HAVE GIVEN ME THE DATA "3.14159".
...PROCESSING...
THERE ARE 7 CHARACTERS IN THE DATA "3.14159".
HAVE A NICE DAY.
...

---
## `input()`

The built-in function `input()` prompts the user for input and accepts the response.  
`input()` takes a `str` argument which can be used to describe what the function is trying to get from the user as input.

In [25]:
weekday = input('What day of the week is it?')
print(weekday)

What day of the week is it? Wednesday

Wednesday

---
### Problem 5.

Write a function called `fortune()` with the following behavior:
- has no arguments
- prompts the user for their name and
- prompts the user for their birth month
- prompts the user for the day of their birth
- tells the user their lucky number
- returns the lucky number as `int`

The lucky number should be calculated as follows:
> (number of characters in the user's name) * (number of character's in the user's birth month) / (user's birth day), giving the remainder.

**Example Behavior:**

```
fortune()

What is your name? Guido
Nice to meet you, Guido.
What month were you born in? March
Ah... March... that's a very auspicious month.
And what day in March were you born? 12
I see... 12 is a number with important meaning.
I'm looking into your future...
It appears that your lucky number is 1.
```

In [26]:
###############################################
### Write your function in the space below. ###
#### Then run the cell to check your work. ####



###############################################

fortune()

What is your name? Guido

Nice to meet you, Guido.

What month were you born in? March

Ah... March... that's a very auspicious month.

And what day in March were you born? 12

I see... 12 is a number with important meaning.
I'm looking into your future...
It appears that your lucky number is 1.

1